body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    color: #800080;
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em auto;
    width: 50vw;
}

.filters input, select {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
}

.filter-row {
    display: flex;
    flex-direction: column;
}

.filter-submit{
    cursor: pointer;
    padding: 1em;
    margin: 1em;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.products-container {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.product {
    width: 15em;
    cursor: pointer;
}

.product-name {
    width: 15em;
}

.product-detail {
    flex-direction: column;
    justify-content: space-around;
    background-color: #800080;
    color: white;
    padding: 0.5em;
}